/*Button*/
/* From Uiverse.io by AqFox */
.add-btn {
    width: 100px;
    height: 30px;
    color: #d5e9f8;
    border-radius: 5px;
    padding: 7px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-size: 15px;
}

.issues-container {
    width: 100%;
    margin: auto;
    align-items: center;
}

.btn-container {
    border: 2px dashed #ddd;
    border-radius: 8px;
    padding: 20px 30px;
    max-width: 50%;
    margin: 20px auto;
    cursor: pointer;
    align-content: center;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.btn-container svg {
    width: 100%;
    margin: auto;
}

.header-issue {
    /*display: flex;*/
    font-size: 2.5em;
    padding: 20px;
    /*align-self: center;*/
    width: auto;
    font-weight: bold;
}
