.wmde-markdown {
    width: 100%;
    margin: 10px auto;
    /*padding: 20px;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 8px;*/
    background-color: inherit;
    box-sizing: border-box;
}

.wmde-markdown-var {
    margin: 10px auto;
    min-height: 500px;
}